/*Stylesheet for body*/
body{
    background-color:wheat;
    /*background-image: url("img/hjemmesidebaggrund.JPG");*/
    width: auto;
    height: auto;
}

/*Stylesheet for min container*/
#container{
    background-color:wheat;
    width: 80%;
    height: auto;/*Har lavet på den her den 22/10/2019 Tirsdag*/
    margin-left: auto;
    margin-right: auto;
    /*background-image: url("img/hjemmesidebaggrund.JPG");*/
}


/*Stylesheet for mainheader*/

#mainheader{
    width: auto;
    height: 6%;
    background-color: #4dc989;
    color: whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 1.3vw;
    font-size: 2.5vh;
    font-family: 'IBM Plex Mono', monospace;
}


/*Stylesheet for min mainform*/
#mainform{
    width:auto;
    height: 82%;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    background-color: #e6dada;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: .90vw;
    font-size: 1.7vh;
}


/*Stylesheet for min project side mainform*/
#mainformpro{
    width:auto;
    height: 77.5%;
    margin-top: -0.6%;
    margin-left: auto;
    margin-right: auto;
    background-color: #e6dada;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: .90vw;
    font-size: 1.7vh;
}


/*Stylesheet for min nav*/
#nav{
    width: auto;
    height: 4.3%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 1.0vw;
    font-size: 1.5vh;
}



/*Head nav css start*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 1.0vw;
  font-size: 1.5vh;
  font-family: 'IBM Plex Mono', monospace;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}

li a:hover:not(.active) {
  background-color: #111;
}
/*Head nav  css slut*/



/*Stylesheet for min textboxs style for loginform*/
.textboxs{
    background-color: #FFFFFF;
    width: 300px;
    padding: 10px 5px 5px 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: none;
    text-align: center;
    font-size: 1.7vw;
    font-size: 1.7vh;
}


/*Stylesheet for login main form. Css gælder kun på login formen!*/
#loginmainform{
    width: 40%;
    height: 40%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: #e6dada;
    box-shadow: 5px 5px 5px grey;
    font-size: 1.0vw;
    font-size: 1.0vh;
}


/*Stylesheet til mine  login knap*/
.loginknap{
  background-color: #d10244;
  border: none;
  color: white;
  padding: 1% 10%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.0vw;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 2.0vw;
  font-size: 2.0vh;
}


/*Styelsheet for opret knappen*/
.opretknap{
  background-color: #d10244;
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
  margin-right: -10%;
  display: flex;
  font-size: 1.7vw;
  font-size: 1.7vh;
}

/*Styelsheet for cancel knappen*/
.cancelknap{
  background-color: #d10244;
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
  margin-right: 10%;
  margin-top: -4%;
  display: flex;
  font-size: 1.7vw;
  font-size: 1.7vh;
}


/*Stylesheet til hvis man skal disable noget*/
.selected {
    pointer-events:none; 
    background-color:  #d10244;
}


/*Stylesheet for min textboxs style når man laver en artikel*/
.textboxsopret{
    background-color: #FFFFFF;
    width: 70%;
    padding: 10px 3px 3px 3px;
}



/*Stylesheet for min tilbage knap. gælder kun for opret,slet og opdater siderne*/
.tilbageknap{
    background-color: #ed2b2b;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    display: flex;
    margin-bottom: -45px;
}


/*stylesheet for det kasser som er uden om et opslag*/
#textkasse{
  margin-top: 1%;
  margin-left: 7%;
  margin-bottom: 1%;
  width: 16%;
  height: 46%;
  float: left;
  overflow: hidden;
  box-shadow: 10px 10px 5px grey;
  font-size: .90vw;
  font-size: 1.7vh;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  
}


/*Stylesheet for at når der kommer et hvis antal opslag lave denne funktion
en scroll bar mid på siden så den stadig for bliver standart fixed*/
div.ex1{
  width: 100%;
  height: 100%;
  overflow: auto;
}

/*Stylesheet til et af mine divs under kontakt siden*/
#personlig{
    margin-left: 2.5%;
    width: 30%;
    height: 99%;
    background-color: #e6dada; 
    float: left; 
    border-right: 1px solid;
    font-size: 1.0vw;
    font-size: 1.7vh;
    text-align: left;
    font-family: 'IBM Plex Mono', monospace;
}

/*Stylesheet til et af mine divs under kontakt #e6dada;  siden*/
#arbejde{
    margin-left: 2.5%;
    width: 30%;
    height: 99%;
    background-color: #e6dada; 
    float: left;
    margin-bottom: -100px;
    font-size: 1.0vw;
    font-size: 1.7vh;
    text-align: justify;
    font-family: 'IBM Plex Mono', monospace;
}

/*Stylesheet til et af mine divs under kontakt siden */
#Aboutme{
    margin-left: 2.5%;
    width: 30%;
    height: 99%;
    background-color: #e6dada; 
    float: left;
    border-left: 1px solid;
    font-size: 1.0vw;
    font-size: 1.7vh;
    text-align: left;
    font-family: 'IBM Plex Mono', monospace;
}

/*Stylesheet for den lille prik der er uden for de 2 første feltet under kontakt mig siden*/
#dot{
    font-size:30px;

}


/*Stylesheet til et af mine divs under opdater kontakt siden*/

/*Stylesheet til et af mine divs under kontakt siden*/
#personligop{
    margin-left: 2.5%;
    width: 30%;
    height: 99%;
    background-color: #e6dada; 
    float: left; 
    border-right: 1px solid;
    font-size: 1.0vw;
    font-size: 1.7vh;
    text-align: left;
    font-family: 'IBM Plex Mono', monospace;
}

/*Stylesheet til et af mine divs under kontakt #e6dada;  siden*/
#arbejdeop{
    margin-left: 2.5%;
    width: 30%;
    height: 99%;
    background-color: #e6dada; 
    float: left;
    margin-bottom: -100px;
    font-size: 1.0vw;
    font-size: 1.7vh;
    text-align: justify;
    font-family: 'IBM Plex Mono', monospace;
}

/*Stylesheet til et af mine divs under kontakt siden */
#Aboutmeop{
    margin-left: 2.5%;
    width: 30%;
    height: 99%;
    background-color: #e6dada; 
    float: left;
    border-left: 1px solid;
    font-size: 1.0vw;
    font-size: 1.7vh;
    text-align: justify;
    font-family: 'IBM Plex Mono', monospace;
}

/*Styelsheet for opdater knap knappen*/
.opdaterknapcss{
    margin-top: 10%;
  background-color: #d10244;
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
  display: flex;
  font-family: 'IBM Plex Mono', monospace;
}

/*Stylesheet for min søg form på project siden*/
#sog{
    width: auto;
    margin-left: auto;
    margin-right: auto;
    background-color:#c7c2b3;
    margin-top: 2%;
}

/*Styelsheet for min sog textsboxs*/
.sogtextboxs{
    margin-left: 7%;
    margin-top: 0.5%;
    margin-bottom: -0.5%;
    background-color: #FFFFFF;
    width: 70%;
    padding: 5px 3px 3px 3px;
    font-size: .70vw;
    font-size: 1.2vh;
    cursor: not-allowed; /*Slet hvis søge funktionen kommer til at virke*/
     font-family: 'IBM Plex Mono', monospace;
}


/*Styelsheet for opdater knap knappen*/
.sogknapcss{
  background-color: #d10244;
  border: none;
  color: white;
  padding: 0.4% 3%;
  text-align: center;
  font-size: .70vw;
  cursor: pointer;
  display: flex;
  margin-right: 14%;
  margin-top: 0.5%;
  margin-left: 1%;
  cursor: not-allowed; /*Slet hvis søge funktionen kommer til at virke*/
   font-family: 'IBM Plex Mono', monospace;
}


/*stylesheet til min sletform på slet #e6dada;  en artikle side*/
#sletform{
    margin-left: 0.5%;
    width: 15%;
    height: 99%;
    background-color: #e6dada;
    float: left; 
    border-right: 1px solid;
    font-size: 1.0vw;
    font-size: 1.0vh;
    font-family: 'IBM Plex Mono', monospace;
}


/*stylesheet for den side af slet hvor man kan borwse de artikel der sakl slettes*/
#sletformartikelside{
    width: 84.3%;
    height: 100%;
    background-color: #e6dada;
    float: left; 
    font-size: 1.0vw;
    font-size: 1.0vh;
    
}

/*stylesheet for min slet knap*/
.sletknapcss{
  background-color: #d10244;
  border: none;
  color: white;
  padding: 3% 15%;
  text-align: center;
  font-size: .70vw;
  font-size: 1.3vh;
  cursor: pointer;
  display: flex;
  font-family: 'IBM Plex Mono', monospace;
}

/*stylesheet for min slet textboxsgit */
.slettextboxs{
    background-color: #FFFFFF;
    width: 20%;
    padding: 10px 3px 3px 3px;
    font-size: .70vw;
    font-size: 1.3vh;
    font-family: 'IBM Plex Mono', monospace;
}


/*#Stylesheet for min kasse til at holde min besked text*/
#beskedboxs{
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    height: 80%;
    background-color: #e6dada;
    float: left;
    font-size: .90vw;
    font-size: 1.7vh;
   
}



/*Stylesheet for læse mere siden*/
#mainformlase{
    width:50%;
    height: 82%;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    background-color: #e6dada;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: .90vw;
    font-size: 1.7vh;
}
    


/*stylesheet for min kasse som holder mit billede for når folk læser mere*/
#billedelase{
    width:100%;
    height: 25%;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    background-color: #e6dada;
    font-size: .90vw;
    font-size: 1.7vh;
    
}


/*Stylesheet min for som huser min artikeln når folk læser mere*/
#artikelselv{
    width:90%;
    height: 62%;
    margin-left: auto;
    margin-right: auto;
    background-color: #e6dada;
    font-size: .90vw;
    font-size: 1.5vh;
    border-top: 1px solid;
    font-family: 'IBM Plex Mono', monospace;
}

/*stylesheet for min kasse som holder min overskrift for når folk læser mere*/
#overskriftpirnt{
    width:100%;
    height: 7%;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    background-color: #e6dada;
    font-size: .90vw;
    font-size: 1.7vh;
    font-family: 'IBM Plex Mono', monospace;
}

#lavevenster{
    margin-left: 1%;
    width: 30%;
    height: 99%;
    background-color:#e6dada;
    float: left;
    font-size: .90vw;
    font-size: 1.7vh;
    border-right:  1px solid;
    font-family: 'IBM Plex Mono', monospace;
    
}


#artikelfooter{
    width:90%;
    height: 3%;
    margin-left: auto;
    margin-right: auto;
    background-color: #e6dada;
    font-size: .90vw;
    font-size: 1.2vh;
    border-top: 1px solid;
    text-align: center;
    font-family: 'IBM Plex Mono', monospace;
}

/*stylesheet for det kasser som er uden om et opslag på index anbefaling kassen*/
#textkassebofloat{
  margin-top: 2%;
  margin-left: 15%;
  margin-bottom: 6%;
  width: 70%;
  height: 42%;
  float: top;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: .90vw;
  font-size: 1.7vh;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}


/*Stylesheet til et af mine divs under opdater kontakt siden*/
#anbefaling{
    width: 23%;
    height: 100%;
    background-color: #e6dada;
    float: left;
    
    font-size: .90vw;
    font-size: 1.4vh;
    font-family: 'IBM Plex Mono', monospace;
}

/*Stylesheet til et af mine divs under indexside kontakt siden */
#formainindex{
    width: 53.8%;
    height: 100%;
    background-color:#e6dada;
    float: left;
    font-size: .90vw;
    font-size: 1.5vh;
    font-family: 'IBM Plex Mono', monospace;
   
}


/*Stylesheet for min border der er tundt om index spågsmål*/
.borderting{
  border-left: 3px solid #d10244;
  border-right: 3px solid #d10244;
  background-color: #f0efed;
  width: 50%;
  height: 4%;
  font-size: .90vw;
  font-size: 2.5vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}

/*Styelsheet for min spøgsmåls box på index side*/
.spg1{
    background-color: #f0efed;
    text-align: center;
    width: 70%;
    height: 20%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: .90vw;
    font-size: 1.5vh;
    font-family: 'IBM Plex Mono', monospace;
    border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
    
}


/*Stylesheet for min border der er tundt om index spågsmål*/
.borderting1{
  border-left: 3px solid #d10244;
  border-right: 3px solid #d10244;
  background-color: #f0efed;
  width: 50%;
  height: 4%;
  font-size: .90vw;
  font-size: 2.5vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}
/*Styelsheet for min spøgsmåls box på index side*/
.spg2{
    background-color:#f0efed;
    text-align: center;
    width: 70%;
    height: 40%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: .90vw;
    font-size: 1.5vh;
    font-family: 'IBM Plex Mono', monospace;
    border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
    
}





/*stylesheet for leftside panel på index side*/
#indexleft{
    width: 23%;
    height: 100%;
    background-color: #e6dada;
    float: left;

    font-size: .90vw;
    font-size: 1.4vh;
    overflow: hidden;
    font-family: 'IBM Plex Mono', monospace;
}

/*Stylesheet for css inde i texsboxs artikel ting kassen*/
#kassebrodtekst{
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -10%;
    width: 95%;
    height: 21%;
    background-color: #e6dada;
    font-size: .90vw;
    font-size: 1.4vh;
    font-family: 'IBM Plex Mono', monospace;
    text-align: left;
}


/*Stylesheet for css inde i texsboxs artikel ting kassen*/
#artikellink{
    margin-left: 9%;
    margin-top: 10%;
    margin-bottom: -2%;
    width: 95%;
    height: 6%;
    background-color: #e6dada;  
    font-family: 'IBM Plex Mono', monospace;
}

/*Stylesheet for min css overskrift ting*/
#overskriftcss{
    margin-top: -5%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4%;
    width: 95%;
    height: 6%;
    border-left: 2px solid #d10244;
    border-right: 2px solid #d10244;
    background-color: #f0efed;
    text-align: center;
    font-size: .90vw;
    font-size: 1.4vh;
    font-family: 'IBM Plex Mono', monospace;

}


/*stylesheet for det kasser som er uden om et opslag på slet siden*/
#textkassesletside{
  margin-top: 1%;
  margin-left: 9%;
  margin-bottom: 1%;
  width: 21%;
  height: 40%;
  float: left;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: .90vw;
  font-size: 1.7vh;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}


/*Stylesheet for link knap css index side*/

.linkknapcss{
  margin-top: 7%;
  margin-left: 5%;
  background-color: #d10244;
  border: none;
  color: white;
  padding: 3px 17px;
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  font-family: 'IBM Plex Mono', monospace;
}


/*Stylesheet for link knap css projekt side*/
.linkknapcsspro{
    margin-top: 7%;
  margin-left: 5%;
  background-color: #d10244;
  border: none;
  color: white;
  padding: 3px 16px;
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  font-family: 'IBM Plex Mono', monospace;
}

